.RSVP-Prompt {
    width: 550px;
    height: 500px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.17), -5px -10px 10px rgba(0,0,0,0.14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RSVP-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RSVP-Prompt h1, p {
    text-align: center;
}

.RSVP-Prompt input {
    height: 30px;
    margin-bottom: 20px;
    text-indent: 15px;
    font-size: 17px;
    padding: 5px 0px;
    font-family: 'Open sans', sans-serif;
}

.RSVP-Prompt input[type=text]:first-child {
    margin-right: 25px;
}

.RSVP-Prompt input[type=email] {
    width: 50%;
    
}



.RSVP-Title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 35px;
}

.RSVP-Text {
    font-family: 'Open sans', sans-serif;
}

.Next-Button {
    width: 150px;
    font-size: 18px;
    padding: 7px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.125s;
}

.Next-Button:hover {
    background-color: black;
    color: white;
}
