.Activity-Container {
    width: 50%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}


.Activity-Component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Activity {
    font-size: 18px;
    margin: 5px;
    text-emphasis: bold;
}

.Success-Header {
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    width: 75%;
}

.Success-Message {
    width: 70%;
    font-family: 20px;
}