.MenuBar-Container {
    width: 120px;
    height: 80px;
    position: absolute;
    z-index: 9;
    top: 50px;
    left: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Hamburger {
    cursor: pointer;
}

.bar {
    opacity: 1;
    width: 50px;
    height: 9px;
    background-color: white;
    border-radius: 1rem;
    margin: 8px auto;
}


.MenuBar-Container p {
    color: white;
    font-family: 'Open sans', sans-serif;
    margin-left: 10px;
    font-size: 19px;
    
}